*{
  padding: 0px;
  margin: 0px;
  color:;
}
.container{
  position: relative;
  width: 100%;
  display: block;
}
.content-container{
  top: 30%;
  left: 10%;
  padding: 20px 40px;
  position: absolute;
  width: 270px;
  color: white;
  display: block;
  overflow: hidden;
  z-index: 2;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  font-family: "Cookie";
  box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.4);
}
.video-container{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 700px;
  overflow: hidden;

}
.video-container video{
  width: 100%;
  position: relative;
}
#information-section{
  background: white;
  width: 100%;
}
#information-section h1{
  width: 100%;
  text-align: center;
  padding: 30px 0;
  font-size: 40px;
}
.info-content{
  display: flex;
  padding: 10px 15%;

}
.info-content div{
  margin: 10px 70px;
}
.info-content div h2{
  font-size: 25px;
  margin: 20px 0;
  color: #413d3c;

}
.info-content div p{
  padding: 0px 25px;
}
.info-content div img{
  width:200px;
}
#compare-university-section{
  position: relative;
  padding: 3% 10%;
}
.compare-section-title{
  width: 100%;
  text-align: center;
  padding: 2% 2%;
}
.compare-table-container{
  width: 100%;
  background: lightgreen;
}
.compare-table tr td{
  padding: 10px 20px;
}
.compare-table tr th {
  width: 300px;
  font-size: 30px;
}

#admission-section{
  position: relative;
  background: lightgray;
  padding: 3% 10%;
}
.admission-title{
  width: 100%;
  text-align: center;
  padding: 2% 2%;
}
.admission-process-container{
  background: black;
  width: 100%;
  height: 600px;
}
footer{
  background: red;
  width: 100%;
}
.footer-logo img{
  max-width: 200px;
}
.footer-logo{
  padding: 40px 80px;
}
